.row-header{
    margin: 0px;
    padding: 0px;

}

.row-content{
    margin: 0px;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400pxo;
}

.footer{
    background-color: rgb(215, 237, 250);
    padding: 20px 0px 20px 0px;
    margin: 0px auto;

}

.jumbotron{
    padding: 50px 20px 50px 20px;
    margin: 0px;
    background:rgb(216, 14, 216);
    color: blanchedalmond;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: black;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    /* so that navbar doesn't cover top most section of body */
}

.navbar-dark{
    background: rgb(30, 5, 132);
}

.tab-content{
    border-left: 1px solid #ddd ;
    border-bottom: 1px solid #ddd;
    border-right:1px solid #ddd;

    padding: 10px;
}

.carousel{
    background: rgb(31, 12, 233);
}
.carousel-item{
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.carousel{
    background: rgb(53, 4, 248);
}
.carousel-item{
    height: 300px;
}

.carousel-item img {
    position: absolute;
top: 0;
left: 0;
min-height: 300px;
}